<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOUSE</title>
</head>
<body>
    <h1>House Register</h1>
    <div>
        <form action="/house_register" method= "POST">
            Size : <input type="text" name = "size" placeholder="Enter in square meter" required>
            BHK  : <input type="text" name = "bhk" required>
            Rent Amount : <input type="text" name="rent" required>
            House Number : <input type="text" name = "house_no" required>
            Street Name : <input type="text" name = "streetname">
            City : <input type="text" name = "City" required>
            State : <input type="text" name = "state">
            PINCODE : <input type="text" name = "pincode">
            <input type="submit" value = "SUBMIT"> 
        </form>
    </div>
</body>
</html>