<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Land_Lord Register</title>
</head>
<body>
    <h1>Land_Lord Register</h1>
    <form action="/owner_register" method = "POST">
        Name : <input type="text" name = "name" required>
        Username : <input type="text" name = "ownername" required>
        Password : <input type="text" name = "password" required>
        Contact : <input type="text" name = "contact" required>
        <input type="submit" value ="Register">
    </form>
    <h4>{{msg}}</h4>
</body>
</html>