<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Owner_login</title>
</head>
<body>
    <h1>Landlord_login</h1>
    <form action="/owner_login" method = "POST">
        username : <input type="text" name = "ownername" required>
        password : <input type="text" name = "password" required>
        <p>If not registered <a href="/owner_register">here</a></p>
        <input type="submit" value = "Log_In">
    </form>
    <h5>{{msg}}</h5>
</body>
</html>