<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <h1>User Register Page</h1>
    <form action="/user_login" method = "POST">
        Username :<input type="text" name = "username">
        Password :<input type="test" name = "password">
        <p>If not registered <a href="/user_register">here</a></p>
        <input type="submit" value = "Log IN">
        <p>{{msg}}</p>
    </form>
</body>
</html>